.projectsContainer {
  height: 100vh;
  margin: 0 auto;

  .projectsTitle {
    display: flex;
    color: #fff;
    padding: 2rem 11.5rem 3rem;
    margin: 0 auto;
    width: 100%;
    //background-color: #cbd400;
  }

  .projects {
    display: grid;
    padding: 0 11.5rem;
    grid-template-columns: repeat(3, 1fr);
    gap: 3rem;
  }
}
