.projectsContainer {
  width: 61.5rem;
  height: 100vh;
  margin: 0 auto;

  .projectsTitle {
    width: 15rem;
    display: flex;
    justify-content: center;
    color: #fff;
    border-bottom: 0.2rem solid #fff;
    padding: 1rem 0;
    margin: 0 auto;
  }

  .projects {
    display: grid;
    margin-top: 2rem;
    grid-template-columns: repeat(3, 1fr);
    gap: 3.5rem;
  }
}
