.aboutContainer {
  height: 100vh;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  background-image: url("/images/background-code.jpg");
  background-repeat: no-repeat;
  background-size: cover;

  .textWrapper {
    width: 61.5rem;
    margin: 0 auto;
    color: #fff;
    font-size: 2.2rem;
    padding-top: 2.4rem;
    padding-right: 38rem;

    h1 {
      font-weight: 300;
      font-family: "Roboto", sans-serif;
    }
  }

  .green,
  .dot {
    color: #cbd400;
  }
}
