.header {
  width: 61.5rem;
  height: auto;
  color: #fff;
  display: flex;
  margin: 0 auto;
  justify-content: space-between;
  align-items: center;
  padding: 2.5rem 0;

  img {
    width: 10rem;
  }

  ul {
    font-family: "Roboto", sans-serif;
    font-weight: 500;

    display: flex;
    list-style: none;

    li:not(:last-child) {
      margin-right: 1rem;
    }

    li {
      transition: color 0.2s;
    }

    li.active {
      padding-bottom: 2px;
      border-bottom: 2px solid var(--white);
    }

    li:hover {
      color: #cbd400;
      padding-bottom: 2px;
      border-bottom: 2px solid #cbd400;
    }
  }
}
